<div class="row pt-3">
  <!-- Menu Faculty-->
  <div class="col-sm-2 " style="border-right: 0.1px solid; border-color: rgb(184, 186, 189);">
    <div class="container pt-2" style="background-color: white;">
      <a class="dropdown-item" href="#">InForm TDTU</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">CNTT</a>
      <a class="dropdown-item" href="#">QTKD</a>
      <a class="dropdown-item" href="#">MARKETING</a>
    </div>

  </div>
  <!-- Middle -->

  <div class="col-sm-7 ">

    <div class="post mb-3">
      <img src="images/profile.png" alt="article" class="post__icon">
      <input data-backdrop="false" type="text" class="post__input form-control " data-toggle="modal"
        data-target="#postArticleModal" placeholder="What do you think ? " aria-describedby="basic-addon1" />
    </div>

    <div class="modal fade show" id="postArticleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form class="modal-content" action="/articles" method="POST">
          <div class="modal-header">
            <h5 class="modal__title" id="exampleModalLabel">Create post</h5>

          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <div class="container article ">
                <div class="row m-2"> <textarea type="text" class="form-control" name="content" style="height: 120px;"
                    placeholder="What's on your mind ?"></textarea>
                </div>
                <div class="row m-2">

                  <input type="image" name="image" class="filepond">

                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-post-article">Post</button>
          </div>
        </form>
      </div>
    </div>

    <!-- ARTICLE CONTAINER-->


    <% if(articles){%>
    <% articles.forEach(article => { %>

    <div class="card article">
      <div class="card-header">
        <img src="images/profile.png" alt="article" class="header-icon">
        <div class="header-group ml-2">
          <span class="group-title"><strong>You</strong></span>
          <p class="group-subtitle mb-2 text-muted"><%= article.createAt.toLocaleString()%> </p>
        </div>

        <div class="dropdown" style="margin-left: auto;">
          <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <a class="dropdown-item btn-del" href="/articles/delete/<%= article.id %>"><i
                class="fas fa-trash-alt btn-del"></i></a>

            <a class="dropdown-item btn-edit" onclick="editArticle('<%= article.id %>')" name="btn-edit-article"
              data-toggle="modal" data-target="#editArticleModal">
              <i class=" fas fa-edit btn-edit"></i></a>

          </div>
        </div>
      </div>

      <div class="card-body">
        <p class="card-text">
          <%= article.content %>
        </p>
        <% if (article.imageSrc){ %>

        <img src="<%=article.imageSrc%>" alt="img" class="card-image" id="<%= article.id %>">
        <% } %>

      </div>
      <div class="card-footer mt-3">
        <button class="btn like btn-outline-primary">Like</button>
        <button class="btn cmt btn-outline-success">Comment</button>
      </div>
    </div>
    <% }); %>
    <%} %>
  </div>

  <!-- EDIT MODAL -->

  <div class="modal fade show" id="editArticleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form class="modal-content edit-modal" method="POST">
        <div class="modal-header">
          <h5 class="modal__title" id="exampleModalLabel">Edit post</h5>

        </div>
        <div class="modal-body" style="margin-bottom: -10px;">
          <div class=" input-group mb-3">
            <div class="container edit-article ">
              <div class="row m-2"> <textarea type="text" class="form-control" name="content" style="height: 120px;"
                  placeholder="What's on your mind ?"></textarea>
              </div>
              <div class="row m-2">
                <input type="image" name="image" class="filepond">
              </div>
            </div>
          </div>
          <div style="text-align: right; ">
            <input type="checkbox" class="chb-remove-img mr-1" value="remove-image" id="remove-img"
              style="transform: scale(1.2);">
            <label for="remove-img">Remove image</label> </input>
          </div>

        </div>
        <div class=" modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-update-article">Update</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Menu Informs -->
  <div class="col-sm-3" style="border-left: 0.1px solid; border-color: rgb(184, 186, 189);">
    <div class="component__Inform" style="background-color: white;">
      <div class="card">
        <div class="card-header">
          New Inform
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">News 1</li>
          <li class="list-group-item">News 2</li>
          <li class="list-group-item">News 3</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>

<script>

  function editArticle(id) {
    let articles = `<%- JSON.stringify(articles) %>`
    articles = JSON.parse(articles)
    articles.forEach(article => {
      if (article._id == id) {

        const content = article.content
        console.log(content)
        const imageSrc = $(`[id=${id}]`).attr("src")
        $('[name="content"]').val(content)
        $('.container.edit-article').append("<img class='edit-image'> </img>")

        $('.edit-modal').attr("action", `/articles/update/${id}` + "?_method=PUT")
        // $('.btn-update-article').click(e => {
        //   $('.edit-modal').attr("action", `/acticles/update/${id}`)


        // })

        $(document).ready(e => {
          $('.edit-image').attr("src", imageSrc)
        })

      }


    })


  }
  $("#editArticleModal").on("hidden.bs.modal", function () {
    $('.edit-image').remove()
    $('[name="edit-content"]').val("")

  });

  function update(article) {
    console.log(article._id)

  }

</script>

</html>